#brandproductlist .brandproduct-nav {
  height: 45px;
  background: linear-gradient(to bottom, #fff 0%, #ebebeb 100%);
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  line-height: 45px;
  padding-left: 20px;
}
#brandproductlist .brandproduct-title {
  height: 45px;
  margin: 10px;
  line-height: 45px;
  background-color: #eee;
  color: #874604;
  font-size: 16px;
  border: 1px solid #ccc;
  margin-bottom: 0;
  padding-left: 20px;
}
#brandproductlist .brandproduct-list {
  padding-bottom: 30px;
  background-color: #f2f2f2;
}
#brandproductlist .brandproduct-list a {
  display: block;
  height: 60px;
  padding: 0 15px;
  position: relative;
  margin: 0  15px;
  border-bottom: 1px solid #ccc;
  text-decoration: none;
  color: #24272a;
}
