#sitenav {
  padding: 10px;
}
#sitenav > a {
  display: inline-block;
  margin: 5px;
  border: 1px solid #bfbfbf;
  background-color: #f4f4f4;
  text-align: center;
  padding: 10px;
}
#sitenav > a > img {
  width: 16px;
  height: 16px;
}
